<script src="js/scripts_heading.js" async defer></script>
</body>
<div class="seperator"></div>
<footer>
    <button id="register-footer">
        <a href="/contact">Create a new Account now!</a>
    </button>
    <ul id="footer-list">
        <li>Economics</li>
        <li>Apply Online</li>
        <li>Careers</li>
        <li>Branch Locator</li>
        <li>Book an appointment</li>
    </ul>
</footer>
</html>