<%- include('partials/header') -%>
  <!-- The about us section will have the bank statement and all the options for the logged in client-->
  <section class="dashboard">
    <h1>Welcome <%=userName%></h1>
  </section>
<%- include('partials/footer') -%>