<%- include('partials/header') -%>
  <!-- The register section will have a form with registration details and a button to submit-->
  <section class="register">

  </section>
<%- include('partials/footer') -%>