<%- include('partials/header') -%>
  <!-- The testimonials section will have the reviews that customers left for us. We can have a form for that on the dashboard so the logged in users can submit reviews-->
  <section class="testimonials">

  </section>
<%- include('partials/footer') -%>