@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");

:root {
  --background: #201e1f;
  --secondary-bg: #5cd384;
  --font: #403f4c;
  --white: #ffffff;
  --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
  --color-primary: #5ec576;
  --color-secondary: #ffcb03;
  --color-tertiary: #ff585f;
  --color-primary-darker: #4bbb7d;
  --color-secondary-darker: #ffbb00;
  --color-tertiary-darker: #fd424b;
  --color-primary-opacity: #5ec5763a;
  --color-secondary-opacity: #ffcd0331;
  --color-tertiary-opacity: #ff58602d;
}
.dashboard {
  height: 41.25vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  font-family: "Comfortaa", cursive;
  text-align: center;
  margin-bottom: 20rem;
  align-items: center;
}
h1 {
  font-size: 2rem;
  color: var(--background);
  margin-top: 2rem;
}
.balance {
  display: flex;
  justify-content: space-between;
  width: 40vw;
  align-items: baseline;
}

.movements {
  background-color: var(--secondary-bg);
  border-radius: 8px;
  padding: 10px;
  max-width: 60vw;
  height: 50vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.transactions-container {
  display: flex;
  padding-top: 0.5rem;
  overflow: scroll;
  padding-left: 5px;
  flex-direction: column-reverse;
  width: 20vw;
  height: 50vh;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--white);
  border-radius: 5px;
}
.transactions {
  width: 18rem;
  margin-bottom: 0.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(128, 128, 128, 0.379);
  border-radius: 20px;
}
.transaction-number {
  font-size: 0.5rem;
  display: flex;
  padding: 2px 10px;
  background-color: var(--secondary-bg);
  border-radius: 10px;
  width: 0.5rem;
}

.transaction {
  font-size: 1rem;
  color: var(--background);
  width: 8rem;
  display: flex;
  margin-right: 12px;
  justify-content: flex-end;
}
