@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");

:root {
  --background: #201e1f;
  --secondary-bg: #5cd384;
  --font: #403f4c;
  --white: #ffffff;
  --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
  --color-primary: #5ec576;
  --color-secondary: #ffcb03;
  --color-tertiary: #ff585f;
  --color-primary-darker: #4bbb7d;
  --color-secondary-darker: #ffbb00;
  --color-tertiary-darker: #fd424b;
  --color-primary-opacity: #5ec5763a;
  --color-secondary-opacity: #ffcd0331;
  --color-tertiary-opacity: #ff58602d;
}
body,
html {
  overflow-y: hidden;
}
.dashboard {
  height: 41.25vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  font-family: "Comfortaa", cursive;
  text-align: center;
  margin-bottom: 20rem;
  align-items: center;
}
h1 {
  color: var(--background);
  margin-top: 2rem;
  width: 40vw;
}
.balance {
  transform: translateX(-10rem);
  font-size: 0.8rem;
}
#greeting {
  font-size: 2rem;
}

.movements {
  background-color: var(--secondary-bg);
  border-radius: 8px;
  padding: 10px;
  width: 52vw;
  height: 50vh;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.transactions-container {
  display: flex;
  padding-top: 0.5rem;
  padding-left: 5px;
  flex-direction: column-reverse;
  width: 18vw;
  height: 50vh;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--white);
  border-radius: 5px;
}
.transactions {
  width: 18vw;
  border-bottom: rgba(0, 0, 0, 0.249) 0.5px solid;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  transition: 250ms;
  padding-top: 4px;
}
.transaction-number {
  font-size: 0.7rem;
  display: flex;
  padding: 2px 10px;
  background-color: var(--secondary-bg);
  border-radius: 50%;
  width: 0.5rem;
}

.transaction {
  font-size: 1rem;
  color: var(--background);
  width: 8rem;
  display: flex;
  margin-right: 12px;
  justify-content: flex-end;
}
.transactions:hover {
  background-color: rgba(128, 128, 128, 0.258);
}
.tools {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loan {
  background-color: white;
  width: 32vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  text-align: start;
  border-radius: 20px;
}
.loan h3 {
  margin-top: 10px;
  margin-left: 5px;
}

.loan h4 {
  margin-left: 5px;
  font-size: 0.5rem;
  color: black;
  margin-bottom: 1rem;
  margin-top: 5px;
}
.loan form {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  width: 25rem;
  text-align: start;
  align-items: flex-start;
}
.loan form label {
  margin-top: 10px;
  margin-bottom: 5px;
}
.loan input {
  padding: 2px;
  margin-bottom: 5px;
}
.loan button {
  margin-left: 5px;
  margin-top: 5px;
  width: 10rem;
  padding: 5px;
  border-radius: 10px;
  border: none;
  font-family: "Comfortaa", cursive;
  transition: 250ms;
}
.loan button:hover {
  background-color: var(--secondary-bg);
}
