@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");

:root {
  --secondary-bg: #5cd384;
}
.register {
  margin-top: 4rem;
  height: 53.3vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}
h3 {
  font-family: "Comfortaa", cursive;
  margin-bottom: 0.25rem;
  margin-top: 1rem;
  color: var(--secondary-bg);
}
input {
  width: 15rem;
  padding: 5px;
  border-radius: 10px;
  border: 0.5px black solid;
}
