@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");
:root {
  --background: #8db2e7;
  --secondary-bg: #201e1f;
  --font: #403f4c;
  --secondary-font: #ffffff;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background);
  color: var(--font);
}

/* The Navbar is customized with the settings below */

.nav {
  display: flex;
  justify-content: flex-end;
  background-color: var(--secondary-bg);
  padding: 0.5rem;
}
#logo {
  font-size: 40px;
  transform: translateX(-95rem);
  color: var(--secondary-font);
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 40vw;
  font-family: "Comfortaa", cursive;
  color: var(--secondary-font);
}
.navbar a {
  text-decoration: none;
  color: var(--secondary-font);
}

.navbar h2 {
  transition: 500ms;
  cursor: pointer;
  padding: 10px;
}
.navbar h2:hover {
  background-color: var(--font);
  color: var(--secondary-font);
}

/* The login section is customized from the settings below */

.login {
  display: flex;
  flex-direction: row;
  gap: 10px;
  position: relative;
  justify-content: flex-end;
  background-color: white;
  padding: 0.15rem;
  align-items: center;
}

.log-user {
  display: flex;
  border-radius: 10px;
  width: 15rem;
  height: 25rem;
  padding: 0.5rem;
  flex-direction: column;
  gap: 5px;
  font-family: "Comfortaa", cursive;
  font-size: 0.8rem;
  background-color: var(--secondary-bg);
  color: var(--secondary-font);
  font-size: 1rem;
  margin-right: 0.3rem;
}
.log-user h3 {
  font-size: 0.9rem;
  padding: 0.3rem;
  margin-bottom: 5px;
}

#login-image {
  width: 80vw;
  height: 44vh;
  background-position: center;
  background-size: cover;
  position: relative;
  border-radius: 10px;
  z-index: 0.5;
  filter: blur(4px);
}
.login h1 {
  position: absolute;
  color: white;
  margin-right: 30vw;
  font-size: 3rem;
  font-family: "Comfortaa", cursive;
  text-shadow: 2px 2px #201e1f;
}

#login-submit {
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  transition: 500ms;
}
#login-submit:hover {
  background-color: var(--background);
}
.log-user h2 {
  margin-bottom: 2rem;
}
.log-user input {
  padding: 0.5rem;
  width: 10rem;
}
.log-user h3 {
  margin-top: 0.5rem;
}
.log-user h4 {
  margin-top: 4.5rem;
  font-size: 0.5rem;
  text-align: center;
}
#register {
  margin-top: 1rem;
  font-size: 1rem;
  width: 11rem;
  padding: 0.25rem;
  transition: 500ms;
  border: none;
}
#register a {
  text-decoration: none;
  color: var(--font);
}
#register:hover {
  background-color: var(--background);
}
