
.testimonials {
    height: 320px;
    width: auto;
    margin: 80px;
}

.container__div_slideshow {
    height: 300px;
    width: 80%;
    margin: 30px auto;
}

.slides1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.fade {
    animation-name: fade;
    animation-duration: 1.95s;
}

@keyframes fade {
    from {opacity: .2}
    to {opacity: 1}
}

.card__div_testimonial {
    height: 250px;
    width: 140px;
    margin: auto 20px;
    text-align: center;
}

.card__figure {
    height: 75px;
    width: inherit;
}

.card__img {
    border-radius: 5px;
    box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.219);
    text-align: center;
}

.card__q_quote {
    display: block;
    font-size: 0.65em;
    font-family: Comfortaa, sans-serif;
    font-weight: 600;
    width: 130px;
    margin: 20px auto;
    line-height: 1.5;
}

.card__p_author {
    font-size: 0.8em;
    font-weight: 600;
    font-family: Comfortaa, sans-serif;
}